.table {
  width: 800px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.head {
  background-color: #323438;
  color: #ffffff;
  border: 2px solid #01010f;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.part {
  border: 2px solid #01010f;
  padding: 8px 100px;
}
.items {
  border: 2px solid #01010f;
}
.title {
  text-transform: capitalize;
}
.item {
  border: 2px solid #01010f;
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  padding: 8px 100px;
}
.items:nth-child(even) {
  background-color: #a9a9ac;
}
